/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #333;
}

header {
  background-color: #00bfff; /* Dodger Blue */
  color: #fff;
  padding: 20px;
  border-radius: 5px 5px 0 0;
}

header h1 {
  font-size: 36px;
}

header p {
  font-size: 18px;
}

.login-container {
  padding: 20px;
}

h3 {
  color: #00bfff; /* Dodger Blue */
}

label {
  color: #00bfff; /* Dodger Blue */
  font-size: 18px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color:aqua; /* Orange Red */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff6347; /* Tomato on hover */
}

